[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = jacksonrobertsbentley
	email = 71834355+jacksonrobertsbentley@users.noreply.github.com
